[program:flask]
directory={{ webapps_dir }}
command=/home/ubuntu/.local/bin/gunicorn app:app -b localhost:5000
autostart=true
autorestart=true
stderr_logfile='{{ webapps_dir }}/hello_world.err.log'
stdout_logfile='{{ webapps_dir }}/hello_world.out.log'
